<header class="d-flex flex-column flex-md-row align-items-center
 justify-content-between pb-3 px-4 mb-4 mt-3 bg-white border-bottom fixed-top shadow-sm">
 <a style="max-height: 70px; font-size: larger;" routerLink="/">E services portal</a>
     

      
      <div class="d-flex align-items-center">
        
        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
          <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
          <!-- <a routerLink="/account/register" class="btn btn-outline-secondary me-2">Sign up</a> -->
        </ng-container>
        <ng-container *ngIf="accountService.currentUser$ | async as user" >
          <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
            <a dropdownToggle class="dropdown-toggle">
              <strong>Welcome {{user.displayName}}</strong>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              
              <li class="py-1">
                <a (click)="accountService.logout()" class="dropdown-item">
                  <i class="fa fa-sign-out me-3"></i>Logout
                </a>
              </li>
            </ul>
          </div>
        </ng-container>
        

      </div>


  </header>